body {
    text-align: center;
    background-color: #124559;
}

h1 {
    color: #ebf2fa;
    font-size: 40px;
    margin: 10px;
}

h2 {
    margin: 0;
}

.dailyData {
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 300px;
    background-color: #ebf2fa;
    color: #023047;
    padding: 20px;
}

.highWind {
    color: #f77f00;
    font-weight: bold;
}

.highTemp {
    color: #d62828;
    font-weight: bold;
}
p {
    font-size: 18px;
}
